<option selected hidden>State</option>
<option value="Johor">Johor</option>
<option value="Melaka">Melaka</option>
<option value="Negeri Sembilan">Negeri Sembilan</option>
<option value="Selangor">Selangor</option>
<option value="Pahang">Pahang</option>
<option value="Kelantan">Kelantan</option>
<option value="Terengganu">Terengganu</option>
<option value="Perlis">Perlis</option>
<option value="Perak">Perak</option>
<option value="Kedah">Kedah</option>
<option value="Sabah">Sabah</option>
<option value="Sarawak ">Sarawak</option>
<option value="Pulau Pinang">Pulau Pinang</option>
