<style>
body, html {height: 100%;}
header
{
    font-family: "Amatic SC", sans-serif;
}
.menu {display: none}
.bgimg {
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #FFC72C;
  min-height: 100%;
}
</style>

<!-- Header with image -->
<header class="bgimg w3-display-container w3-grayscale-min" id="home">
  <div class="w3-display-bottomleft w3-padding">
    <span class="w3-tag w3-xlarge">Open 24 Hours</span>
  </div>
  <div class="w3-display-middle w3-center">
    <span class="w3-text-black w3-hide-small" style="font-size:100px">WELCOME<br>TO<br>FASTFOOD RESTAURANT</span>
    <span class="w3-text-black w3-hide-large w3-hide-medium" style="font-size:60px"><b>WELCOME<br>TO<br>FASTFOOD RESTAURANT</b></span>
    <p><a href="/homecatalogue" class="w3-button w3-xxlarge w3-black">Start Order Now</a></p>
    <p><a href="/login" class="w3-button w3-xxlarge w3-black">Login</a></p>
  </div>
</header>
